@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Marcellus&display=swap');


@font-face {
    font-family: 'Metropolis-Bold';
    src: url('font/Metropolis-Bold.otf');
}

@font-face {
    font-family: 'Metropolis';
    src: url('font/Metropolis-Regular.otf') ;
}




* {
    padding: 0;
    margin: 0;
    
}

a {
    text-decoration: none;
}

:root {
    --umakBlue: #111c4e;
}


nav{
    background-color: var(--umakBlue);
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    font-family: 'Marcellus';
    position: fixed;
    z-index: 999999;
}

nav div {
    height: 50%;
}

nav div h1 {
    padding-left: 10px;
    color: white;
    font-weight: 300;
}

nav div a {
    text-decoration: none;
    font-family: 'Metropolis-Bold';
    font-weight: bold;
    color: white;
    font-size: 1.3vw;
}

#nav-buttons{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.nav-wrapper {
    height: auto;
    width: 70%;
}

.umaklogo {
    width: 50px;
}

.nav-wrapper div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container-g {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CACACA;
}

.wrapper{
    width: 70%;
}

.home-search-text {
    font-family: 'Metropolis';
}

.home-search-container {
    background-color: #E6E6E6;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 5vh;
}


.home-search-container p {
    font-size: 2vw;
}

.home-search-container form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.home-search-container form input {
    border: none;
    background-color: white;
    width: 80%;
    height: 5vh;
}

.search-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchButt {
    aspect-ratio: 1/1;
    width: 5vh;
    background-color: #111c4e;
}

.search-radio {
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-between;
    
}

.search-radio div {
    display: flex;
    align-items: center;
    font-size: 1vw;
    font-family: 'Metropolis';
}

.search-radio div input {
    width: 1.5vw;
    border: none;
    margin: 0 10px;
}

.banner-wrapper {
    margin-top: 3vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.banner-wrapper img {
    aspect-ratio: 10/4;
    width: 70%;
}

.container {
    background-color: white;

}


.news-wrapper {
    background-color: white;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.news-container {
    width: 90%;
    padding: 5px 5px;
    font-family: 'Metropolis';
}

.news-container h2{
    color: #939393;
    margin-top: 3vh;
    font-size: 1.3vw;
}

.news-container h1 {
    color: var(--umakBlue);
    margin-top: 1vh;
    font-weight:900;
}

.news-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}      

.news-l , .news-r {
    width: 50%;
    display: flex;
    justify-content: center;
}

.l-container {
    width: 95%;
}

.news-banner {
    background-image: url(img/news_banner.jpg);
    width: 100%;
    aspect-ratio: 3/1.5;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 2.5vh;
}

.l-container p {
    font-size: 0.8vw;
    font-weight: 300;
}

.l-container p + p {
    font-size: 1vw;
    font-weight: bold;
    margin-top: 1vh;
}

.l-container p + p + p {
    font-weight: 200;
    font-size: 0.8vw;
    margin-top: 1vh;
}

.news-list {
   display: flex;  
   padding: 1vw 0;
   border-bottom:1px solid #cacaca ;
}


.news-list div p {
    margin-left: 10px;
    font-size: 1.5vw;
    font-size: 0.8vw;
}

.news-list div p + p {
    font-weight: bold;
}

.news-icon-img {
    background-image: url('img/news_convocation_banner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 3vw;
    aspect-ratio: 1/1;
    
}

.r-container {
    width: 95%;
    margin-top: 1vh;
}

.news-room-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 5vh;
    font-family: 'Metropolis';
    font-size: 0.8vw;
}

.news-room-wrap a {
    color: white;
    background-color: var(--umakBlue);
    padding: 1.3vw 2vw;
    margin-top: 3vh;
}

.blue-banner {
    aspect-ratio: 4/2;
    background-image: url(img/banner_3.jpg);
    background-position: center;
    background-size: cover;
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.blue-banner div {
    width: 40%;
    font-family: 'Metropolis';
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.blue-banner div p {
    position: relative;
    font-size: 3vw;
    z-index: 5;
}

.blue-banner div a{
    z-index: 5;
    color: white !important;
    border: 2px solid white;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 3px;
    font-size: 2vw;
}

.overlay {
    position: relative;
}

.overlay::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #111c4e;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    top: 0;
    left: 0;
}

/* FOOTER */

footer {
    height: 50vh;
    background-color: var(--umakBlue);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer div {
    width: 30%;
    color: white;

}

.foot-1 {
    font-family: 'Metropolis';
    height: 30vh;
}

.foot-1 p {
    line-height: 200%;
    font-family: 'Marcellus';
    font-size: 2vw;
}

.foot-1 p + p {
    font-family: 'Metropolis';
    font-size: 0.8vw;
    text-align: left;
}

.foot-1 p + p + p {
    margin-top: 10vh;
}

.footer-links-1 {
    display: flex;
   width: 100%;
   justify-content: space-between;
   color: white;
   margin-top: 5vh;
}

.footer-links-1 a {
    font-size: 1vw;
    color: white;
}

.foot-div {
    border-bottom: 1px solid white;
    width: 100%;
}


.foot-2 {
    height: 30vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.foot-2 img {
    width: 10vw;
    height: 10vw;
    aspect-ratio: 1/1 !important;
}

.foot-3 {
    height: 30vh;
    font-family: 'Metropolis';
}

.foot-3 div {
    width: 100%;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    line-height: 200%;
}

.foot-3 div p {
    font-size: 1.5vw;
}

.foot-3 div a {
    color: white;
    font-weight: 300;
}

.result-container {
    width: 100%;
    border: solid 1px #CACACA;
    min-height: 100vh;
    height: auto;
}

.search-wrapper  {
    margin-top: 3vh;
}

#searchFilter {
    width: 70%;
    height: 5vh;
    text-align: center; 
}

#searchFilter:focus {
    outline: none;
    text-align: center;
}

.filter-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: calc(70% + 4vw);
    justify-self: center;
    margin-top: 1%;
}

.search-filter-dropdown {
    width: calc(5vh + 70% );
    margin-top:2%;

}

.search-filter-dropdown select {
    border: none;
    color: var(--umakBlue);
    border: 1px solid #cacaca;
    font-family: 'Metropolis';
    font-weight: bold;
    font-size: 1.5vw;
    width: 30%;
}

.result-table-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Metropolis';
}

.result-head-2 {
    width: 70%;
    display: flex;
    justify-content: end;
    font-weight:bolder;
    color: #111c4e;
    font-size: 1.8vw;
}

.result-bar-container {
    width: 95%;
    display: flex;
}

.result-bar-img {
    width: 10vw;
    aspect-ratio: 1/1;
    background-color: #939393   ;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat    ;
}

.result-bar-info {
    margin-left:2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.result-bar-titles {

}

.result-bar-titles p {
    font-size: 2vw;
    color: var(--umakBlue);
    font-weight: bolder;
}

.result-bar-titles p + p {
    font-size: 1vw;
    color: var(--umakBlue);
    font-weight: 300;
}

.open-result-bar {
    width: calc(70% + 5vh);
    margin-top: 1%;
    border: #CACACA solid 1PX;
    padding: 5vh 0;
    display: flex;
    justify-content: center;
    transition: 0.2s;

}

.open-result-bar:hover {
    transform: translateY(-1vh);
    box-shadow: #CACACA 1px 10px ;
}

.result-bar-subtitle {
    color: black;
    display: flex;
    justify-content: space-between;
}

.result-bar-sub-head {
    font-weight: bolder;
}

.result-bar-sub-head-2 {
    font-size: 1vw;
}

.sub-head-bar-2 {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
}

.book-info-container {
    margin-top: 2%;
    border:1px solid #cacaca;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-info-cover {
    padding: 2vw;
    width: auto;
}


.book-cover {
    width: 25vw;
    aspect-ratio: 3/4;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.book-info-titles {
    width: 45%;
    margin-left:2%;
    margin-top: 1vh;
    font-family: 'Metropolis';
}

.book-info-wrapper {
    width: 70%;
    display: flex;
}

.book-info-head {
    font-size: 2vw;
    font-weight: bolder;
}

.book-info-subhead {
    font-weight: bolder;
    display: inline-block;
    display: flex;
    margin-top: 1.5vh;
}

.book-info-subhead p {
    font-weight: 300;  
    margin-left: 1%;
}

.summary-wrapper {
    font-family: 'Metropolis';
    width: 70%;
    margin-top: 2vh;
}

.book-summary {
    margin-top:1vh;
    line-height: 200%;
}

.book-details-wrap {
    margin-top: 2vh;
}

.add-to-cart {
    background-color: var(--umakBlue);
    color: white;
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-around;
    margin-top: 3vh;
    padding: 1vw 1.5vw;
    font-size: 1vw;
    cursor: pointer!important;
}

#addToCart {
    scale: 1;
}

.login-form {
    border: 1px solid #cacaca;
    width: 40%;
    text-align: center;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Metropolis';
}

.login-container {
    height: 80%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-head {
    font-size: 2vw;
    color: var(--umakBlue);
    font-weight: bolder;
}

.input-wrap {
    text-align: left;
    width: 100%;
    margin-top: 2vh;
}

.input-wrap p {
    font-size: 0.8vw;
    color: var(--umakBlue);
    font-weight: bolder;
    padding: 1vh 2vh;
}

.input-wrap input {
    width: 100%;
    border: 1px solid #cacaca;
    border-radius: 0.8vw;
    height: 4vh;
    
}

.login-inputs {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 10vh;
    justify-content: space-between;
    margin-top: 5vh;
}

.forgot-pass {
    color: #5a5a5a;
    font-size: 0.8vw;
    text-align: right;
    width: 100%;
    margin-top: 1vh;
    text-decoration: underline;
}

#login-butt {
    background-color: var(--umakBlue);
    color: white;
    border: none;
    font-size: 1.5vw;
    font-weight: bolder;
    padding: .5vw 2vw;
    border-radius:1.5vw;
    margin-top: 5vh;
}

.user-acc-wrapper {
    border: 1px solid #cacaca;
    width: 70%;
    max-height: 100vh;
    height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
}

.user-acc-container {
    width: 90%;
    height: calc(100vh - 120px);
}

.account-info-container {
    display: flex;
    column-gap: 3%;
    padding-top: 5vh;
    align-items: center;
}

.user-info{
    height: auto;
}

.user-head {
    font-weight:BOLDER;
    font-size: 1.2vw    ;
    font-family: 'Metropolis-Bold';
}

.user-sub-head {
    font-family: 'Metropolis';
    text-transform: uppercase;
    margin-top: 3%;
}

.user-profile {
    width: 12vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.account-divider {
    width: 100%;
    border-bottom: 1px solid #cacaca;
    margin-top: 3%;
}

.open-borrow-bar {
    margin-top: 5%!important;
    border: #cacaca 1px solid!important;
    display: flex;
    width: 100%;
    font-family: 'Metropolis';
    width: 100vw;
}

.borrow-bar-container {
    width: 52vw;
    display: flex;
    height: 15vh;
    scrollbar-color: red green;

}

.borrow-bar-img {
    width: 10vw;
    aspect-ratio: 1/1;
    background-color: #939393   ;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat    ;
}

.borrow-bar-info {
    margin-left:2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.borrow-bar-titles p {
    font-size: 2vw;
    color: var(--umakBlue);
    font-weight: bolder;
}

.borrow-bar-titles p + p {
    font-size: 1vw;
    color: var(--umakBlue);
    font-weight: 300;
}

.borrow-result-bar {
    width: calc(70% + 5vh);
    margin-top: 1%;
    border: #CACACA solid 1PX;
    padding: 2vh 0;
    display: flex;
    justify-content: center;
    transition: 0.2s;
}

.borrow-result-bar:hover {
    transform: translateY(-1vh);
    box-shadow: #CACACA 1px 10px ;
}

.borrow-bar-subtitle {
    color: black;
    display: flex;
    justify-content: space-between;
}

.borrow-bar-sub-head {
    font-weight: bolder;
}

.borrow-bar-sub-head-2 {
    font-size: 1vw;
}

.borrowed-wrapper {
    display: flex;
    overflow: auto;
    width: auto;
    gap: 5%;
}

.logout-butt {
    height: auto;
    margin-left: 40%;
    align-self: flex-start;
    font-family: 'Metropolis';

}

.add-book-butt {
    display: flex   ;
    align-items: center;
    font-size:1.5vw;
    font-family: 'Metropolis';
   
}

.add-book-butt a {
    text-decoration: none;
    color: #5a5a5a!important;
}